<!DOCTYPE html>
<html>
  <head>
    <title>Travel Companion</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="app">
      <div id="input">
        <form class="userform" id="formToReset">
          <h1>Your next destination</h1>
          <label for="country-choice">Pick a destination country:</label>
          <input
            type="datalist"
            list="country-list"
            id="country-choice"
            name="country-choice"
            placeholder="Select country"
          />
          <datalist name="country-list" id="country-list"> </datalist>
          <br />
          <label for="city">Enter your destination city:</label>
          <br />

          <input type="text" id="city" name="city" placeholder="Enter city" />
          <br />
          <label for="travel-date"> Travel date:</label>
          <input type="date" id="travel-date" name="travel-date" />

          <input type="submit" value="Add destination" id="destSubmit" />
        </form>
      </div>
      <div id="trips"></div>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
